App {
    font-family: sans-serif;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

button {
  border-radius: 5px;
}

input {
  border-radius: 5px;
}

.render-time {
  color: #CC0000;
  margin-top: 0;
}